.filter{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
    &__btn{
      text-transform: uppercase;
      color: #fff;
      border:none;
      padding: 7px 12px;
      background-color: #71b96c;
      border-radius: 5px;
      font-weight: 700;
      transition: all 0.3s ease 0s ;
      cursor: pointer;
    }
}

